# Server
PORT=5000
NODE_ENV=development

# MongoDB (MongoDB Atlas connection string)
MONGO_URI=mongodb+srv://Sansayan_db_user:TS200506@cluster0.hgqodiu.mongodb.net/?appName=Cluster0

# JWT Auth
JWT_SECRET=replace_this_with_a_long_random_secret_string
JWT_EXPIRES_IN=7d

# CORS - frontend URL allowed to call this API
CLIENT_URL=http://localhost:3000